.progressBar{
    --bar-bg:#b0b7c9;
    --seek-before-width:0;
    --seek-before-color:#0188f7;
    --selectedKnobby:#4daaf7;

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    height: 11px;
    outline: none;
}
.progressBar::-webkit-slider-runnable-track{
    background: var(--bar-bg);
    border-radius: 10px;
    height: 11px;
    outline: none;
}
.progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    height: 11px;
    outline: none;
}
.progressBar::-moz-focus-outer{
    border:0px;
}

.progressBar::before{
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-radius: 10px;
    position: absolute;

    cursor: pointer;
}
.progressBar::-moz-range-progress{
    background-color: var(--seek-before-color);
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    height: 11px;
}
.progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb{
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

.progressBar::-moz-range-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

.progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}